
.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Contenedor{
  width: 90%;
  margin: auto;
}

.menu{
  font-size: 17px;
  list-style: none;
  height: 50px;
  background-color: #161a23;
}

.iten{
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  font-family: Arial;
}

.iten:hover{
  background-color: rgb(251,58,190);
}

.menu li{
  display: inline-block;
  text-align: center;
}

.Baner{
  width: 100%;
  height: 500px;
  background: url("./img/baner\ canal.png") no-repeat center center/cover;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title1{
  font-size: 20px;
  font-family: Arial;
  color: white;
}

.Videos{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
  margin: 10px 0;
  font-family: Arial;
  color: white;
}

.imgCard{
  width: 100%;
  height: 180px;
}

.titleCard{
  font-size: 20px;
  margin: 10px 0;
}

.linkVideo{
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: indigo;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  margin: 10px 0;
}

.linkVideo:hover{
  background-color: rgb(251,58,190);
}