/* paleta de colores 1





#672d4b
#8b2357
#b46182
#e82464
#e87e86
*/

/* paleta de colores 2 
#980BBF
#024059
#2BF0FB
#F2E307
#F2CC0F

#BF069C
#D93BCC
#011643
#039BDB
#03F1F7

#0D05F2
#0A04BF
#7672F2
#7673D9
#B5B3F2

#4A34AE
#1F253D
#EF7030
#10104F
#42AC98

#44E1F2
#285459
#4F868C
#4BF2F2
#0D0D0D

#024059
*/

/* media querys mas comiunes 
576px, 768px, 992px, 1200px */

/*#region paleta de colores*/
:root {
  --indigo-1: #000035;
  --indigo-2: #062863;
  --indigo-3: #1c4c96;
  --indigo-4: #607ec9;
  --indigo-5: #9ab4ff;
  --indigo-6: #547071;
  --indigo-7: #688391;
  --indigo-8: #87a1ab;
  --indigo-9: #a7bcf7;
  --indigo-10: #c8dfe2;

  --gris-1: #3c3c3c;
  --gris-2: #515151;
  --gris-3: #666666;
  --gris-4: #8c8c8c;
  --gris-5: #b5b5b5;
  --gris-6: #171718;
  --gris-7: #1f2124;
  --gris-8: #393d42;
  --gris-9: #6a6e73;
  --gris-10: #9fa3a9;
  --gris-11: #65727c;
  --gris-12: #3e4144;
  --gris-13: #38444d;
  --gris-14: #15202B;

  --aqua-1: #005227;
  --aqua-2: #038554;
  --aqua-3: #03bb85;
  --aqua-4: #68ddbd;
  --aqua-5: #a4fff7;

  --morado-1: #411f4f;
  --morado-2: #9a1a7e;
  --morado3: #311324;
  --rosa-1: #f3aead;
  --rosa-2: #f034bf;
  --rosa-3: #c82495;

  --verde-1: #325559;
  --verde-2: #244e4f;

  --rick-1: #2f9331;
  --rick-2: #477385;
  --rick-3: #8bcf21;
  --rick-4: #83d2e4;

  --portal-1: #2B812C;
  --portal-2: #94EB0C;
}

/*#endregion*/

/*#region estilos de imagenes */

.img-card{
  width: 80%;
}

.img-disc {
  width: 15%;
  height: 15%;
}

.img-footer-logo {
  width: 50%;
}

.img-icon {
  height: 3rem;
}

.img-main-card {
  margin: auto;
}

.img-card-have {
  width: 70%;
  height: 50%;
}

/*#endregion */

/*#region estilos del titulos */

.title-1 {
  font-size: 50px;
  font-family: 'Roboto Mono';
  color: white;
  padding: 10px 10px;
}

.title-exp {
  background-color: var(--verde-2);
  text-align: left;
  padding-left: 10px;
}

.title1 {
  font-size: 30px;
  font-family: 'Roboto Mono';
  color: white;
}

.title-subject {
  font-size: 40px;
  font-family: 'Roboto Mono';
  color: white;
}

.title-working {
  font-size: 4rem;
  font-family: 'Roboto Mono';
  color: white;
}

/*#endregion*/

/*#region estilos de los parrafos */

.p-main {
  font-size: 30px;
  font-family: 'Roboto Mono';
  color: white;
}

.content-curso {
  color: white;
  font-size: 1.5rem;
  /*padding-left: 15px;*/
  font-family: 'Roboto Mono';
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.code-line {
  font-size: 1.3rem;
  font-family: 'Source Code Pro';
  text-align: left;
  color: white;
}

.list-item {
  color: white;
  list-style-type: none;
  font-size: 22px;
  font-family: 'Roboto Mono';
  margin-bottom: 22px;
}

.link-tag {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.archor {
  color: white;
  list-style-type: none;
  font-size: 2rem;
  /*32px*/
  font-family: 'Roboto Mono';
  font-weight: bold;
  text-decoration: none;
}

.lista {
  padding: 0;
  margin: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.ident-1rem {
  text-indent: 1rem;
}

.tittle-app {
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto Mono';
  color: white;
}

.content-card {
  text-align: left;
  font-size: 2rem;
  font-family: 'Roboto Mono';
  color: white;
  margin-left: 1rem;
}

.content-rand {
  font-size: 1.8rem;
  font-family: 'Roboto Mono';
  font-weight: bold;
}

.content-footer {
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto Mono';
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.quote{
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto Mono';
}

/*#endregion*/

/*#region estilos de los contenedores*/

.paper {
  display: flex;
  flex-direction: column;
  background-color: var(--gris-6);
}

.Baner {
  width: 100%;
  height: 500px;
  background: url("./img/baner\ canal.png") no-repeat center center/cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.section-1 {
  background-color: var(--gris-6);
}

.section-2 {
  background-color: var(--gris-7);
}

.flex-div {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.square-div {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  margin-bottom: 5%;
}

.cli {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title-cli {
  background-color: #282c34;
  width: 800px;
  margin-left: 10px;
}

.body-cli {
  width: 800px;
  margin-left: 10px;
  text-align: left;
  background-color: black;
}

.div-code {
  margin: auto;
  width: 80%;
  background-color: var(--gris-7);
  border-radius: 1rem;
}

.div-code-long {
  margin: auto;
  width: 600px;
  background-color: var(--gris-7);
  text-align: center;
}

.div-info {
  display: flex;
  /*background-color: #051e39;*/
  background-color: var(--gris-7);
  margin-top: 10px;
  padding: 25px;
  border-radius: 10px;
  text-align: justify;
}

.div-logro {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: justify;
  /*background-color: #051e39;*/
  background-color: var(--gris-7);
  border-radius: 5px;
}

.div-exp {
  width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid;
  border-color: var(--verde-2);
}

.back-exp {
  background-color: var(--gris-7);
}

.div-read {
  width: 70%;
  margin: auto;
}

.center {
  text-align: center;
}

.div-center {
  text-align: center;
  margin: auto;
}

.div-working-img {
  width: 50%;
  height: 50%;
  margin-left: 35%;
}

.div-post {
  width: 80%;
  margin: auto;
}

.div-back-article {
  margin: 10px;
  background-color: var(--gris-8);
  padding: 10px;
  border-radius: 10px;
}

.div-back-important {
  margin: 10px;
  background-color: var(--morado3);
  padding: 10px;
  border-radius: 10px;
}

.div-row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.div-colum {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.div-footer-alert {
  width: 60%;
}

.div-footer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 0px;
  background-color: var(--gris-14);
}

.div-back-footer {
  display: flex;
  flex-direction: column;
  background-color: var(--gris-14);
}

.div-nav-footer {
  width: 70%;
  margin: auto;
}

.div-footer-logo {
  width: 50%;
}

.div-iconos {
  margin: auto;
}

.div-lines-code {
  padding: 1rem;
  line-height: .5rem;
}

.div-menu-ricoso {
  background-color: var(--verde-1);
  display: flex;
  list-style: none;
  font-size: 1.2rem;
}

.div-ricoso-page {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  gap: 1rem;
}

.div-character-card {
  width: 30%;
  background-color: var(--rick-2);
  border-radius: 1rem;
}

.div-main-card {
  width: 90%;
  background-color: var(--rick-2);
  margin: auto;
  border-radius: 1rem;
}

.div-main-content {
  width: 60%;
}

.back-portal {
  background: radial-gradient(var(--portal-1), var(--portal-2) 30%, var(--portal-1) 70%);
  width: 40rem;
  height: 50rem;
  border-radius: 50%;
}

.rand-card {
  width: 50%;
  margin: auto;
  margin-top: 9rem;
}

.div-mosaico {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.div-card-have {
  width: 30rem;
  height: 15rem;
  background-color: var(--gris-7);
}

.div-next-button {
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.div-img-back{
  background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExc204dmhlazhuaXljM3M2Nm5kN3V5eXg1cXRraTh5NmgxN2FhMTYyZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/aRZ4vTsHnyW6A/giphy.gif') no-repeat center center/cover;
}

.div-card-about{
  margin-top: 2rem;
  border-radius: 1rem;
}

/*#endregion*/


/*#region botones*/
.Btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #3b062c;
  color: white;
  font-size: 15px;
  margin: 10px 0;
  font-family: 'Roboto';
}

.Btn:hover {
  background-color: rgb(251, 58, 190);
}

.btn-page {
  border: none;
  background-color: var(--portal-1);
  font-size: 3rem;
  font-family: 'Roboto Mono';
  border-radius: 1rem;
  color: white;
}

/*#endregion*/

.card-div {
  width: 80%;
  height: 80%;
  margin: 10px;
  background-color: var(--gris-13);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: justify;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
  transition: all 400ms ease;
  border-radius: 5px;
}

.card-div:hover {
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
  transform: translateY(-3%);
}

.grid-perfil {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Contenedor {
  width: 95%;
  margin: auto;
  text-align: center;
  border-radius: 1%;
}

.contenedor-logros {
  width: 900px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

/*#region estilos del menu */

.menu {
  font-size: 20px;
  list-style: none;
  height: 50px;
  /*background-color: #125173;*/
  background-color: #024059;
}

.iten {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  font-family: 'Roboto Mono';
  font-weight: 900;
}

.iten:hover {
  /*background-color: #236e86;*/
  /*color: #44e1f2;*/
  /*color: #3bd5e6;*/
  /*background-color: #F2E307;*/
  background-color: var(--aqua-2);
}

.menu li {
  display: inline-block;
  text-align: center;
}

.active {
  /*background-color: #236e86;*/
  /*background-color: #f2cc0f;*/
  background-color: var(--aqua-2);
}

/*#endregion*/

/* estilo del baner */

/* estilos de la rows and colums */

.content-columna {
  /*background-color: rgb(69, 40, 58);*/
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 10px 10px;
  border-radius: 10px;
}

.columna {
  width: 100%;
  /*background: url("./img/columna.jpg") no-repeat center center/cover;*/
  height: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-columna {
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}



/* estilos del contenedor videos visitas*/

.back-videos {
  width: 100%;
  background: url("./img/back1.jpg") no-repeat center center/cover;
}

.grid-videos {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /*background-color: #413154;*/
  margin-right: 10px;
}

.back-article {
  width: 100%;
  /*background: url("./img/articulos.jpg") no-repeat center center/cover;*/
  height: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* estilos del menu item */

.div-menu-item {
  display: flex;
  margin-bottom: 10px;
}

.div-flex-item {
  width: 900px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.div-progres {
  text-align: left;
  padding-left: 5px;
}

.percent-bar {
  width: 90%;
  background-color: white;
  height: 10px;
  margin: auto;
  border-radius: 5px;
}

.nine {
  width: 90%;
}

.ten {
  width: 10%;
}

.eigth {
  width: 80%;
}

.percent-progres {
  background-color: var(--aqua-1);
  height: 10PX;
  border-radius: 5px;
}

.div-article {
  width: 500px;
  height: 700px;
  background-color: var(--gris-7);
  text-align: justify;
  padding: 10px;
}

/* estilos del contenedor de reviews */

.back-review {
  width: 100%;
  background: url("./img/back2.png") no-repeat center center/cover;
}

.grid-reviews {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 10px;
}

.Videos {
  width: 900px;
  display: grid;
  /*grid-template-columns: repeat(4,1fr);*/
  grid-template-columns: 2fr 2fr;
  gap: 25px;
  margin: 20px;
  font-family: 'Roboto';
  color: white;
}

/* estilos de los cards*/

.back-card {
  background-color: rgba(128, 128, 128, 0.2);
}

.div-card {
  width: 300px;
  height: 250px;
  background-color: var(--gris-7);
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.imgCard {
  width: 250px;
  height: 180px;
}

.titleCard {
  font-size: 20px;
  margin: 10px 0;
}

.linkVideo {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #3b062c;
  color: white;
  font-size: 15px;
  margin: 10px 0;
  font-family: 'Roboto';
}

.linkVideo:hover {
  background-color: rgb(251, 58, 190);
}

.brand {
  width: 100%;
  height: 350px;
  margin-bottom: "40px";
}

.Contenido {
  width: 40%;
  padding: 90px 0 0 30px;
  color: white;
  font-family: 'Roboto';
}

.Contenido p,
Contenido h2 {
  margin: 10px 0 20px 0;
}

/* estilos de la seccion discord */

.Discord {
  width: 100%;
  background: url("./img/discord.jpg") no-repeat center center/cover;
  height: 350px;
  margin-bottom: 40px;
}

.Canal {
  width: 100%;
  background: url("./img/fondo1.jpg") no-repeat center center/cover;
  height: 350px;
  margin-bottom: 40px;
}

.BrandContenido {
  width: 40%;
  padding: 90px 0 0 30px;
  color: white;
  font-family: 'Roboto';
}


/* estilos de los logros*/

.grid-logro {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: justify;
  /*background-color: #051e39;*/
  background-color: var(--gris-7);
  border-radius: 5px;
}

.div-logros {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
}

.div-text {
  margin-right: 10px;
}

.imgLogro {
  width: 500px;
  height: 250px;
  padding: 5px;
}

.content-logro {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
}

/* estilos de apartado steve o del componente Stiker*/

.portada {
  width: 70%;
  height: 300px;
  background: url("./img/portada.jpg") no-repeat center center/cover;
  padding-bottom: 50px;
  /*margin-bottom: 20px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  margin-top: 2rem;
}

.img-portada {
  width: 80%;
}

.frame-img {
  width: 20%;
  height: 90%;
  background-color: #244e4f;
  padding: 20px;
}

.text-portada {
  color: white;
  font-family: 'Roboto';
}

.imgSteve {
  width: 500px;
  height: 250px;
  padding: 20px;
}

.InfoSteve {
  display: flex;
  /*background-color: #051e39;*/
  background-color: var(--gris-7);
  margin-top: 10px;
  padding: 25px;
  border-radius: 10px;
  text-align: justify;
}

.back-steve {
  width: 100%;
  background: url("./img/articulos.jpg") no-repeat center center/cover;
}

.grid-steve {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /*background-color: #244e4f;*/
  background-color: black;
  column-gap: 10px;
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
}

.div-actividad {
  /*background-color: rgba(128, 128, 128, 0.2);*/
  background-color: var(--gris-7);
  margin-left: 10px;
  margin-top: 10px;
  text-align: justify;
  border-radius: 10px;
}

.text-actividad {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-family: 'Roboto';
}

.biblio {
  /*background-color: rgb(69, 40, 58);*/
  background-color: var(--gris-7);
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 10px 10px;
  border-radius: 10px;
}

.img-prog {
  height: 70px;
  width: 70px;
}

.div-lateral {
  background-color: black;
  padding: 10px;
}

.back-color {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #325559;
  padding: 5px;
  border-radius: 10px;
}

.div-prog {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.Content {
  color: white;
  font-size: 20px;
  /*padding-left: 15px;*/
  font-family: 'Roboto';
}

.div-tags {
  width: 800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.tag {
  background-color: #005227;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.div-bio {
  width: 900px;
  background-color: var(--gris-7);
  margin: auto;
  padding: 5px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

/*  estilos de about */

.contenedor-about {
  width: 98%;
  margin: auto;
}

/* estilos del footer*/

.footer-text {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  margin-top: 10px;
  text-decoration: none;
}

.footer {
  text-align: center;
  background-color: #244e4f;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

/* estilos del articulo*/

.articulo-div {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.contenido-articulo {
  width: 95%;
}

.encabezado {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #325559;
  padding: 20px;
}

.text-head {
  background-color: #3B848C;
  padding: 20px;
}

.imgAutor {
  height: 250px;
  width: 250px;
  padding: 20px;
}

.text-cuerpo {
  background-color: #051e39;
  /*background-color: #29292c;*/
  padding: 20px 20px;
  overflow: scroll;
}

.lateral-rc {
  display: grid;
  grid-template-columns: 1fr;
}

/*estilos de dumix*/

/*#1A1B26*/
/*#414868*/
/*#26A269*/

/* colores de fondo */

/*#1b1b1b*/
/*#343434*/
/*#4e4e4e*/

.back-dumix {
  width: 100%;
  height: 800px;
  background: url("./img/dumixBack.jpg") no-repeat center center/cover;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.grid-dumix {
  display: flex;
  flex-direction: row;
}

.dumix-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: var(--aqua-2);
  color: white;
  font-size: 15px;
  margin: 10px 0;
}

.div-about {
  width: 900px;
  margin: auto;
}

/*estilos de vimgg*/
.div-subject {
  background-color: #0e6655;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.div-vimgg {
  background-color: #212f3c;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

/*estilos de los cursos de liniux*/

.display-topics {
  width: 900px;
  margin: auto;
}

.div-topic {
  width: 700px;
  margin: auto;
  background-color: #212f3c;
  padding: 0 10px;
  border-radius: 5px;
}

.div-topic h1 {
  text-align: center;
}

.div-topic p {
  text-align: justify;
}

.linux-menu {
  height: 700px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
  /*background-color: #24283B;*/
  /*background-color: #343434;*/
  background-color: #1b1b1b;
}

.open {
  height: 700px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
  /*background-color: #24283B;*/
  /*background-color: #343434;*/
  background-color: var(--gris-6);
}

.close {
  width: 50px;
  height: 700px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow: hidden;
  /*background-color: #24283B;*/
  /*background-color: #343434;*/
  background-color: var(--gris-6);
}

.hidenItems {
  display: none;
}

.tema {
  font-size: 20px;
  color: #ffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-family: 'Roboto';
  font-weight: 900;
}

.tema:hover {
  /*color: #3bd5e6;*/
  background-color: #005b99;
}

.select {
  background-color: #005b99;
}

.div-title {
  display: inline-block;
}

.div-curso {
  width: 1400px;
  height: 1000px;
  /*background-color: #1A1B26;*/
  background-color: var(--gris-6);
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.div-asite {
  width: 300px;
  background-color: #1b1b1b;
}

.div-prime {
  background-color: var(--gris-6);
}

.bash {
  margin: auto;
  text-align: center;
  width: 300px;
  height: 50px;
  background-color: black;
}

.promp {
  color: #26A269;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Roboto';
}

.directorio {
  color: #005b99;
}

.key-word {
  color: #409cdc;
}

.dumix-foot {
  height: 50px;
  background-color: #244e4f;
  text-align: center;
  margin: none;
}

.contacto {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.line {
  height: 2px;
  /*background-color: #005b99;*/
  /*border-color: #005b99;*/
  background-color: var(--aqua-2);
  border-color: var(--aqua-2);
  border-radius: 15%;
}

.file-item {
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 18px;
}

/*estilo de la terminal*/



/*estilos de codigo*/



.code-simple {
  font-family: 'Iconsolata', monospace;
  font-size: 20px;
  color: white;
}

/*estilos de have fun*/

.baner-have-fun {
  width: 100%;
  height: 500px;
  background: url("./img/havefun.jpg") no-repeat center center/cover;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.p-havefun {
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.h1-havefun {
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
  text-align: center;
  padding-top: 10px;
}

.card-havefun {
  width: 60%;
  margin: 20px auto;
  background-color: var(--gris-7);
  padding: 5px;
  border-radius: 1rem;
}

.p-card {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.a-card {
  margin: auto;
  color: white;
  font-size: 25px;
  font-family: 'Roboto';
  text-decoration: none;
}

.button-havefun {
  text-align: center;
  background-color: var(--aqua-2);
  width: 80px;
  height: 30px;
  margin: auto;
}

.gif {
  width: 400px;
}

.gif-card {
  margin: 50px;
}

.gif-title1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
}

.gif-title2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto';
  color: white;
}

.div-input {
  width: 500px;
  margin: auto;
}

.gif-search {
  width: 500px;
  font-size: 30px;
  font-family: 'Roboto';
  background-color: #e8e8e8;
  border: #e8e8e8;
  border-radius: 5px;
}

.gif-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.gif-div {
  margin: auto;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

.gif-footer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 0px;
  /*background-color: #244e4f;*/
  background-color: var(--gris-14);
}

.div-answer {
  width: 90%;
  margin: auto;
}

.oracle-answer {
  width: 100%;
}

.footer-item {
  padding: 10px;
}

.item-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: justify;
}

/*articulos web*/

.main-title {
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
}

.article-link {
  text-decoration: none;
  color: var(--aqua-3);
}

.baner-web-developer {
  width: 100%;
  height: 700px;
  background: url("./img/webDev.png") no-repeat center center/cover;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.div-sing {
  display: flex;
  flex-direction: row;
}

.img-sing {
  width: 250px;
  height: 250px;
}

.content-sing {
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Roboto';
  color: white;
}

.autor {
  font-size: 30px;
  font-family: 'Roboto';
  color: var(--aqua-1);
}

/* estilos de artculos*/

.main-title {
  font-size: 50px;
  font-family: 'Roboto';
  color: white;
}

.back-articles {
  margin: 10px;
  background-color: var(--morado3);
  padding: 10px;
  border-radius: 10px;
}

.div-min-article {
  width: 400px;
  height: 290px;
  margin: 10px;
  background-color: var(--gris-7);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: justify;
  box-shadow: 0px 1px 10px rgba(3, 187, 133, 0.2);
  transition: all 400ms ease;
  border-radius: 5px;
}

.div-min-article:hover {
  box-shadow: 5px 5px 20px rgba(3, 187, 133, 0.4);
  transform: translateY(-3%);
}


.item-lateral {
  width: 400px;
  background-color: var(--gris-7);
}

.item-mid {
  width: 600px;
  background-color: var(--gris-7);
}

.item-tab {
  background-color: var(--aqua-1);
}

/* estilos steve labs */
.labs-title {
  font-size: 100px;
  font-family: 'Orbitron';
  color: white;
}

/* media query 375 */

@media (min-width: 360px) and (max-width: 430px) {

  .title-1{
    font-size: 2.5rem;
  }

  .p-main{
    font-size: 1.5rem;
    padding: 0px 10px;
  }

  .menu {
    font-size: 20px;
    list-style: none;
    height: 50px;
    width: 100%;
    white-space: nowrap;
    background-color: #024059;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .flex-div{
    width: 100%;
  }

  .square-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

/*media query 576 */